<div class="container margenes">
    <div class="row">
        <div class="col">
            <form action="/admin/novedades/agregar" method="post">
                <div class="mb-3">

                    <label class="label-control">Titulo</label>
                    <input type="text" class="form-control" name="titulo">
                </div>
                <div class="mb-3">
                    <label class="label-control">Cuerpo</label>
                    <textarea class="form-control" name="cuerpo" rows="3"></textarea>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                </div>
            </form>
        </div>
    </div>



</div>