<div class="container margenes">
    <div class="row">
        <div class="col">
            <form action="/admin/novedades/modificar" method="post">
            <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3">

                    <label class="label-control">Titulo</label>
                    <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">
                </div>
                <div class="mb-3">
                    <label class="label-control">Cuerpo</label>
                    <textarea class="form-control" name="cuerpo" rows="3">{{novedad.cuerpo}}</textarea>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Modificar</button>
                </div>
            </form>
        </div>
    </div>



</div>