<head>
    <link rel="stylesheet" href="stylesheets/about.css">
</head>

<div class="holder about" data-aos="fade-up">
    <h3>ABOUT</h3>
    <p>This is a page where you can see the reviews of all the movies and see the news, premieres and updates of
        the page</p>
</div>