<div class="holder">

    <div id="conteItemsCarrusel" data-aos="fade-up">
        <div class="peliculasCarrusel">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-1">
                <img src="images/PeliculaMoonKnight.png" alt="Moonknight">
            </div>
            <div class="flechasCarrusel">
                <a href="#tarjetaCarrusel-3">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#tarjetaCarrusel-2">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="peliculasCarrusel">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-2">
                <img src="images/SpiderManNoWeyHome.jpg" alt="spidermanNoWeyHome">
            </div>
            <div class="flechasCarrusel">
                <a href="#tarjetaCarrusel-1">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#tarjetaCarrusel-3">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>

        </div>
        <div class="peliculasCarrusel">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-3">
                <img src="images/Moana.jpg" alt="moana">
            </div>
            <div class="flechasCarrusel">
                <a href="#tarjetaCarrusel-2">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#tarjetaCarrusel-1">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="puntosCarrusel" data-aos="fade-up">
        <a href="#tarjetaCarrusel-1">.</a>
        <a href="#tarjetaCarrusel-2">.</a>
        <a href="#tarjetaCarrusel-3">.</a>
    </div>


    <div class="categorias" data-aos="fade-up">
        <div class="marvel">
            <a href="marvel">
                <img src="images/LogoMarvel.jpg" alt="marvel" width="300">
            </a>
        </div>
        <div class="pixar">
            <a href="pixar">
                <img src="images/LogoPixar.jpg" alt="pixar" width="255">
            </a>

        </div>
    </div>
</div>