<div class="holder">

    <div class="items">
		<div class="item active">
			<img src="images/Moana.jpg">
		</div>
		<div class=" item next">
			<img src="images/PeliculaMoonknight.png">
		</div>
		{{!-- <div class="item">
			<img src="http://via.placeholder.com/500x500">
		</div>
		
		<div class="item prev">
			<img src="http://via.placeholder.com/500x500">
		</div> --}}
       
		<div class="button-container">
			<div class="button"><i class="fas fa-angle-left"></i></div>
			<div class="button"><i class="fas fa-angle-right"></i></div>
		</div>
	</div>
    

    <div class="categorias" data-aos="fade-up">
        <div class="marvel">
            <a href="marvel">
                <img src="images/LogoMarvel.jpg" alt="marvel" width="300">
            </a>
        </div>
        <div class="pixar">
            <a href="pixar">
                <img src="images/LogoPixar.jpg" alt="pixar" width="255">
            </a>

        </div>
    </div>
    <script src="javascripts/home.js"></script>
</div>