<head>
    <link rel="stylesheet" href="stylesheets/catalogo.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/peliculas.css">
</head>

<section class="holder catalogo">

    <div class="fondo" data-aos="fade-up">
        <h3>"Spiderman No Way Home"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/PortadaSpidermanNoWeyHome.jpg" alt="spidermanNoWayHome" width="150" height="200">

            </div>

            <p>Para empezar, esta película justifica bien los "problemas" que los fans tenían con las anteriores
                películas del Spider-Man de Tom Holland. Homecoming y Far From Home ya habían dejado plantado las bases
                de un chico medio inexperto, que comete errores y es como cualquier otro adolescente común y corriente
                como todos lo fuimos alguna vez. Todos estos "errores" de estas películas eran intencionales, ya que
                formaban parte de un plan al que llegarían a un punto crucial (en este caso es No Way Home) en donde
                veríamos a un Peter Parker llegando a independizarse. </p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"Doctor Strange In The Multiverse Of Madness"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/PortadaDrStrange2.jpg" alt="drStrange2" width="150" height="200">

            </div>

            <p>Opinión con spoilers: Amé !!! Simplemente ame esta película, tiene un guión sencillo, pero está bien
                fundamentado, no sufre agujeros de guión Sam raimi hizo un más que excelente trabajo, con doctor strange
                y Scarlet wich esta película No abusa del fan service, y los cameos aunque no son los tantos rumoreados
                son perfectos, funcionan así.. ame la participación de el profesor x, red Richard etc, capitán Carter
                los Iluminati 10/10, ame como Wanda enfrentó a cada uno, sin retroceder realmente se vio, la capacidad
                de la bruja escarlata y el poder inmenso que tiene, realmente fue un viaje increíble, el personaje de
                América Chávez me cayó, muy bien la verdad estoy muy satisfecho y espero, verla pronto en otros
                proyectos de Marvel, es un personaje que si bien, recién la estamos conociendo es simpática, y te da
                ganas de conocer al personaje.</p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"Thor"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/AficheThor.jpg" alt="thor" width="150" height="200">

            </div>

            <p>Era el último de los superhéroes de Marvel que quedaba por explotar antes de que se reunieran todos en la
                película 'Los Vengadores'. Extraído de la mitología nórdica, el personaje de Thor tiene por fin su lugar
                en la pantalla, y alrededor de él se configura todo su particular universo</p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"IronMan 3"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/AficheIronMan3.jpg" alt="ironMan3" width="150" height="200">

            </div>

            <p>"Iron Man 3" ¿Realmente es tan mala como dicen? Para aclarar las cosas, Marvel había decidido terminar la
                saga de "Iron Man" Con una última película, formando así toda una trilogía, y para mí, esta película no
                es tan mala.
                LO BUENO:
                La historia (Muy entretenida).
                Las Actuaciones (Muy Buenas).
                Detalles a las dos películas pasadas.
                El aspecto del traje es muy bueno y original.
                El Final: La pelea final es muy épica, también cuando hace explotar todos sus trajes y empezar un nuevo
                camino de superhéroe es bueno.</p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"Capitan America Y El Soldado Del Invierno"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/AficheCapitanAmericaYElSoldadoInvierno.jpg" alt="ironMan3" width="150" height="200">

            </div>

            <p>La trilogía del capitán américa como ya dije en mi reseña de Capitan America: Civil War es una increíble
                serie de películas de superheroes, si ya leíste mis anteriores reseñas te daras cuenta de cual es mi
                película favorita del capitán américa.
                LO BUENO
                1. Las secuencias de acción fueron espectaculares.
                2. La introducción de Falcon al MCU dio un gran paso adelante.
                3. El reparto: Chris Evans, Scarlett Johansson, Antony Mackie
                4. Los escenarios de la película son excelentes y mas para los sitios establecidos de S.H.I.E.L.D
                LO REGULAR
                No hay nada
                LO MALO
                No hay nada
                En mi opinión esta película no fue la mejor de las tres</p>
        </div>
    </div>



</section>