<head>
    <link rel="stylesheet" href="stylesheets/catalogo.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/peliculas.css">
</head>

<section class="holder catalogo">

    <div class="fondo" data-aos="fade-up">
        <h3>"Spiderman No Way Home"</h3>
        <div class="cuadro">

            <div class="diseno" >

                <img src="images/PortadaSpidermanNoWeyHome.jpg" alt="spidermanNoWayHome" width="150" height="200">

            </div>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate maxime doloribus repellendus nisi
                animi culpa
                quod ducimus amet optio? Ab odio id qui inventore? Delectus deserunt illum autem id quis! Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Dolor libero dolore quisquam reiciendis ratione debitis, magni
                consequuntur
                autem, saepe error voluptas culpa, sapiente non laudantium? Dolores hic laboriosam ab ea.</p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"Doctor Strange In The Multiverse Of Madness"</h3>
        <div class="cuadro">

            <div class="diseno" >

                <img src="images/PortadaDrStrange2.jpg" alt="drStrange2" width="150" height="200">

            </div>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate maxime doloribus repellendus nisi
                animi culpa
                quod ducimus amet optio? Ab odio id qui inventore? Delectus deserunt illum autem id quis! Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Dolor libero dolore quisquam reiciendis ratione debitis, magni
                consequuntur
                autem, saepe error voluptas culpa, sapiente non laudantium? Dolores hic laboriosam ab ea.</p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"Thor"</h3>
        <div class="cuadro">

            <div class="diseno" >

                <img src="images/AficheThor.jpg" alt="thor" width="150" height="200">

            </div>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate maxime doloribus repellendus nisi
                animi culpa
                quod ducimus amet optio? Ab odio id qui inventore? Delectus deserunt illum autem id quis! Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Dolor libero dolore quisquam reiciendis ratione debitis, magni
                consequuntur
                autem, saepe error voluptas culpa, sapiente non laudantium? Dolores hic laboriosam ab ea.</p>
        </div>
    </div>

     <div class="fondo" data-aos="fade-up">
        <h3>"IronMan 3"</h3>
        <div class="cuadro">

            <div class="diseno" >

                <img src="images/AficheIronMan3.jpg" alt="ironMan3" width="150" height="200">

            </div>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate maxime doloribus repellendus nisi
                animi culpa
                quod ducimus amet optio? Ab odio id qui inventore? Delectus deserunt illum autem id quis! Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Dolor libero dolore quisquam reiciendis ratione debitis, magni
                consequuntur
                autem, saepe error voluptas culpa, sapiente non laudantium? Dolores hic laboriosam ab ea.</p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"Capitan America Y El Soldado Del Invierno"</h3>
        <div class="cuadro">

            <div class="diseno" >

                <img src="images/AficheCapitanAmericaYElSoldadoInvierno.jpg" alt="ironMan3" width="150" height="200">

            </div>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate maxime doloribus repellendus nisi
                animi culpa
                quod ducimus amet optio? Ab odio id qui inventore? Delectus deserunt illum autem id quis! Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Dolor libero dolore quisquam reiciendis ratione debitis, magni
                consequuntur
                autem, saepe error voluptas culpa, sapiente non laudantium? Dolores hic laboriosam ab ea.</p>
        </div>
    </div>



</section>