<head>
    <link rel="stylesheet" href="stylesheets/news.css">
</head>
<section class="holder">
    <form action="/news" method="get">
        <input type="search" placeholder="Buscar" name="q" {{#if q}} value="{{q}}" {{/if}}>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    {{#each novedades}}
    <div class="news" data-aos="fade-up">

        <div>
            <h3>{{titulo}}</h3>
            <p>{{cuerpo}}</p>
        </div>

    </div>
    {{/each}}

    {{#if is_search}}
        {{#unless novedades.length}}
            <div class="noEncontrado">
               <p>No se encontraron resultados para <b>"{{q}}"</b></p> 
            </div>
            
        {{/unless}}
    {{/if}}
    <hr>
</section>