<head>
    <link rel="stylesheet" href="stylesheets/news.css">
</head>
<section class="holder">
    {{#each novedades}}
    <div class="news" data-aos="fade-up">

        <div>
            <h3>{{titulo}}</h3>
            <p>{{cuerpo}}</p>
        </div>

    </div>
    {{/each}}
    <hr>
</section>