<head>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/peliculas.css">
    <link rel="stylesheet" href="stylesheets/catalogo.css">
</head>

<section class="holder catalogo">

    <div class="fondo" data-aos="fade-up">
        <h3>"Encanto"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/EncantoAfiche.jpeg" alt="encanto" width="150" height="200">

            </div>

            <p>Después de la estupenda “Raya y el último dragón” tenía ganas de ver esta nueva propuesta de Walt Disney
                Animation Studios.

                Ambientada en Colombia, la trama parte de algo que está realmente trillado: La oveja negra de la
                familia. Apoyado en un argumento que narra cómo la familia Madrigal obtuvo ciertos dones gracias a los
                sucesos con los que empieza la película.

                Disney va muy a lo seguro en esta cinta, sabe lo que a la gente le gusta y vuelve a hacerlo, entregando
                una propuesta tremendamente colorida, con un mensaje positivo y con una animación realizada por
                ordenador realmente impresionante, no cabe duda.</p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"Toy Story 4"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/AficheToyStory4.jpg" alt="toyStory4" width="150" height="200">

            </div>

            <p>En general la película me gustó, me divertí, me enojé, me asuste, me divertí y me entristecí. Fue una
                montaña rusa de emociones.
                LO BUENO:
                1. La animación es excelente, todo tuvo un buen nivel de detalle, sobre todo el gato de la tienda de
                antigüedades, cada cabello de su cuerpo tenía un excelente detalle.
                2. Contestaron la incógnita que dejó la tercera película sobre lo que le pasó a Betty.
                3. El reencuentro de Woody y Betty me encanto, fue muy emotivo.
                
                LO MALO:

                1. La trama no fue tan compleja, además de ser igual a las anteriores con un juguete perdido que debe
                ser rescatado.
               
                
            </p>
        </div>
    </div>


</section>