<head>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/peliculas.css">
    <link rel="stylesheet" href="stylesheets/catalogo.css">
</head>

<section class="holder catalogo">

    <div class="fondo" data-aos="fade-up">
        <h3>"Encanto"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/EncantoAfiche.jpeg" alt="encanto" width="150" height="200">

            </div>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate maxime doloribus repellendus nisi
                animi culpa
                quod ducimus amet optio? Ab odio id qui inventore? Delectus deserunt illum autem id quis! Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Dolor libero dolore quisquam reiciendis ratione debitis, magni
                consequuntur
                autem, saepe error voluptas culpa, sapiente non laudantium? Dolores hic laboriosam ab ea.</p>
        </div>
    </div>

    <div class="fondo" data-aos="fade-up">
        <h3>"Toy Story 4"</h3>
        <div class="cuadro">

            <div class="diseno">

                <img src="images/AficheToyStory4.jpg" alt="toyStory4" width="150" height="200">

            </div>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate maxime doloribus repellendus nisi
                animi culpa
                quod ducimus amet optio? Ab odio id qui inventore? Delectus deserunt illum autem id quis! Lorem ipsum
                dolor sit
                amet, consectetur adipisicing elit. Dolor libero dolore quisquam reiciendis ratione debitis, magni
                consequuntur
                autem, saepe error voluptas culpa, sapiente non laudantium? Dolores hic laboriosam ab ea.</p>
        </div>
    </div>
    

</section>