footer{
    background-color: black;
    color: darkgrey;
    text-align: center;
    padding: 80px 0;
    height: 50px;
    width: 100%;
    align-self: flex-end;
    position: relative;
    top: 350px;

}

.margenes{
    margin-top: 60px;
}