

main{
    padding-top: 50px;
}

h3{
    color: #080c29;
    text-align: center;
    position: relative;
    top: 100px;
}

.diseno img{
    height: 300px;
    width: 200px;
}

.diseno{
    background-color: aliceblue;
    height: 300px;
    text-align: center;
    width: 950px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 80px;
    margin-right: 50px;
    position: relative;
    top: 30px;
}


.cuadro{
    display: flex;
    /* background-color: gray; */
    padding: 10px;

}

.cuadro p{
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);;
}
.fondo{
    background-color: #7e8dfd;
    border-radius: 50px;
    width: 1080px;
}



@media screen and (max-width: 550px){

   .fondo{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
   }

   h3{
    top: 10px;
   }
   
}

@media screen and (max-width: 375px){

    .fondo{
     width: 95%;
     height: 490px;
     padding: 5px;
     margin-bottom: 10px;
    }
 
    h3{
     top: 10px;
     font-size: 15px;
    }

    .diseno img{
        height: 150px;
        width: 100px;
        position: absolute;
        bottom: 5px;
        right: 7px;
    }

    .cuadro p{
        /* display: flex; */
        position: absolute;
        top: 230px;
        left: 10px;
        align-items: center;
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        font-size: 15px;
    }

    .diseno{
        background-color: aliceblue;
        height: 160px;
        width: 115px;
        position: absolute;
        right: 80px;
        top: 50px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-bottom: 80px;
        margin-right: 50px;
        margin-top: 10px;
        
    }
    
    
 }

 @media screen and (max-width: 414px){

    .fondo{
     width: 95%;
     height: 490px;
     padding: 5px;
     margin-bottom: 10px;
    }
 
    h3{
     top: 10px;
     font-size: 15px;
    }

    .diseno img{
        height: 150px;
        width: 100px;
        position: absolute;
        bottom: 5px;
        right: 7px;
    }

    .cuadro p{
        /* display: flex; */
        position: absolute;
        top: 230px;
        left: 10px;
        align-items: center;
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
        font-size: 15px;
    }

    .diseno{
        background-color: aliceblue;
        height: 160px;
        width: 115px;
        position: absolute;
        right: 80px;
        top: 50px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin-bottom: 80px;
        margin-right: 50px;
        margin-top: 10px;
        
    }
    
    
 }

 @media screen and (max-width: 390px){

    .fondo{
        position: relative;
        left: 5px;
    }
    
 }

 @media screen and (max-width: 393px){

    .fondo{
        position: relative;
        left: 8px;
    }
    
 }

 @media screen and (max-width: 820px){

    .fondo{
        margin-bottom: 15px;
    }

 }

 