/*inicio HOME*/

/* .peliculasCarrusel img{
    display: block;
    text-align: center;
    width: 900px;
} */

.categorias{
    display: flex;
    margin-top: 50px;
    margin-left: 90px;
    gap: 24px;
}



.categorias div{
    height: 170px;
    /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); */
}


.marvel img{
    transition: all 0.5s ease;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.marvel img:hover{
    transform: translateY(-20px);
}

.pixar img{
    transition: all 0.5s ease;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.pixar img:hover{
    transform: translateY(-20px);
}

.peliculasCarrusel{
    height: 100%;
    position: relative;
}

.tarjetaCarrusel{
    height: 100%;
    width: 80%;
    position: relative;
    left: 90px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#conteItemsCarrusel{
    height: 300px;
    overflow: hidden;
}


i{
    color: white;
    font-size: 40px;
    text-shadow: #080c29;
}

img{
    width: 100%;
    height: 100%;
}

.puntosCarrusel{
    width: 10%;
    position: relative;
    left: 700px;
    bottom: 60px;
}
.puntosCarrusel a{
    text-decoration: none;
    color: grey;
    font-size: 40px;
}

.puntosCarrusel a:hover{
    color: white;
}

body[data-aos-duration="400"] [data-aos] {
    transition-duration: 1s;
}

@media screen and (max-width: 550px){
    .flechasCarrusel{
        display: none;
    }
    
    .peliculasCarrusel{
        display: none;
    }

    .puntosCarrusel{
        display: none;
    }

    .categorias{
        display: flex;
        position: relative;
        bottom: 250px;
        right: 40px;
        gap: 24px;
    }

}

/*final HOME*/
